*{
    background-color: #0f0a41;
    color: white;
  }
.format {
    background-color: #9894c8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 106vh;
    flex-direction: column;
    transform: translateY(-5%);
  }